# Windows image file caches
Thumbs.db
ehthumbs.db

# RTB Files
console.log
rtb/server/ChatLog.txt
rtb/logs/Chatlog.txt
screenshot_*.png

# Filetypes

*.cs.dso
*.gui.dso
*.ml
*.exe.stackdump
rtb/server/ServerLog.txt
rtb/server/ServerLog.txt
rtb/server/ChatLog.txt
rtb/logs/Chatlog.txt
rtb/server/SystemServerLog.txt